*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --background-color: #ffff;
    --header-footer-background-color: #2F303A;
    --hover-color: #2196F3;
    --button-hover-color: #188CE8;
    --headings-color: #212121;
    --button-and-logo-color: #2196F3;
    --inactive-button-color: #F5F4FA;
    --active-button-color: #2196F3;
    --paragraph-color: #757575;
    --white-color: rgb(255, 255, 255);
    --partly-white-color: rgba(255, 255, 255, 0.6);
    --logo-black-color: #000000;
    --background-dark-blue-color: #2F303A;
    --background-light-blue-color: #F5F4FA;
    --header-border-color: #ECECEC;
    --card-border-color: #EEEEEE;

}
.container{
    width: 1200px;
    margin: 0 auto;
}

header.container{
    display: flex;
    align-items: center;
    justify-content:space-between;
    align-items: center;
    width: 1600px;
    padding-top: 24px;
    padding-left: 215px;
    padding-right: 215px;
    border-bottom: 1px solid var(--header-border-color);
}

nav{
    display: flex;
    
}

.logo-link{
    display: flex;
    margin-right: 93px;
    margin-bottom: 25px;
}

.links-list{
    display: flex;
    margin: 0 331px 32px 0;
    padding: 0;
}

.contacts-links{
    display: flex;
    padding: 0;
    margin: 0 0 32px;
}

.contacts-links>.list-item:not(:last-child){
    margin-right: 50px;
}

.links-list>.list-item:not(:last-child){
    margin-right: 50px;
    
}

body{
    color: var(--paragraph-color);
    background-color: var(--white-color);
    font-family: Roboto, sans-serif;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.main.container.section{
    background-color: var(--background-dark-blue-color);
    width: 1600px;    
    padding: 200px 0;
}

footer.container {
    background-color: var(--background-dark-blue-color);
    width: 1600px;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 215px;
}

.logo-web {
color: var(--button-and-logo-color);
line-height: 1.19;
letter-spacing: 0.03em;
}

.logo-link {
    color: var(--logo-black-color);
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-size: 26px;
    font-weight: 700;   
    line-height: 1.19;
    letter-spacing: 0.03em;
    width: 145px;
}

.link {
    color: var(--headings-color);
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 0.02em;
    line-height: 1.14;
}

.link:hover {
    color: var(--hover-color);
}

.link:focus {
    color: var(--hover-color);
}

.list-item{
    list-style: none;
    padding: 0;
}

.mail-link{
    color: var(--paragraph-color);
    text-decoration: none;  
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.14;
  
}

.mail-link:hover{
    color: var(--hover-color);
}

.mail-link:focus {
    color: var(--hover-color);
}

.call-link {
    color: var(--paragraph-color);
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.14;
    
}

.call-link:hover {
    color: var(--hover-color);
}

.call-link:focus {
    color: var(--hover-color);
}

.main-heading{
    background-color:var(--header-footer-background-color);
    color: var(--white-color);
    font-size: 44px;
    font-weight: 900;
    text-align: center;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    max-width: 696px;
    margin: 0 auto;
}

.button-offer{
    color: var(--white-color);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.06em;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: var(--button-and-logo-color);
    border-radius: 4px;
    border: var(--button-and-logo-color);
    cursor: pointer;
    margin: 30px auto 0;
    padding: 10px 32px;
}

.button-offer:hover {
    background-color: var(--button-hover-color);
}

.button-offer:active{
    background-color: var(--active-button-color);
}

.extra-heading{
    display: none;
}

.advantages-list{
    display: flex;
    width: 1200px;
    justify-content: center;
    margin: 0;
}

.advantages-list>.list-item{
    max-width: 270px;
    margin-right: 30px;
}

.advantages-heading{
    color: var(--headings-color);
    font-size: 14px;
    line-height: 1.14;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    max-width: 270px;
}

.advantages-text{
    font-size: 14px;
    color: var(--paragraph-color);
    line-height: 24px;
    letter-spacing: 0.03em;
    width: 270px;
    margin: 0;
}

.second-range-heading{
    color: var(--headings-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    margin-top: 0;
}

.our-team-list-heading{
    color: var(--headings-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.team-photo{
    display: block;
    margin-bottom: 30px;
}

.our-team-list-description{
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 0;
}

.logo-link-footer {
    background-color:var(--header-footer-background-color);
    color: var(--white-color);
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.address-list{
    font-style: normal;
    margin-left: -35px;
}

.address-item{
    list-style: none;
}

.location-link{
    background-color:var(--header-footer-background-color);
    color: var(--white-color);
    text-decoration: none;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.location-link:hover{
    color: var(--hover-color);
}

.location-link:focus {
    color: var(--hover-color);
}

.mail-link-address{
    background-color:var(--header-footer-background-color);
    color: var(--partly-white-color);
    text-decoration: none;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.mail-link-address:hover{
    color: var(--hover-color);
}

.mail-link-address:focus {
    color: var(--hover-color);
}

.call-link-address{
    background-color:var(--header-footer-background-color);
    color: var(--partly-white-color);
    text-decoration: none;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.call-link-address:hover {
    color: var(--hover-color);
}

.call-link-address:focus {
    color: var(--hover-color);
}

.filter-button-list{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0 auto 50px;
}

.filter-button{
    background-color: var(--inactive-button-color);
    padding: 6px 22px;
    margin-right: 8px;
    height: 38px;
    color: var(--headings-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.63;
    border: var(--inactive-button-color);
    border-radius: 4px;    
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
}

.filter-button:hover {
    background-color: var(--button-hover-color);
    color: var(--white-color);
}

.filter-button:focus {
    background-color: var(--button-hover-color);
    color: var(--white-color);
}

.filter-button:active{
    background-color: var(--active-button-color);
    color: var(--white-color);
}

.card-heading{
    color: var(--headings-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    margin: 0 0 4px 24px;
}

.card-description{
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    margin: 0 0 20px 24px;
}

.container.section{
    padding-top: 94px;
    padding-bottom: 94px;
    align-content: center;
}

.competentions.container.section{
    padding-top: 0;
    width: 1200px;
    align-content: center;
}

.team.container.section{
    background-color: var(--background-light-blue-color);
    width: 1600px;
    align-content: center;    
}

.our-team-list{
    display: flex;
    justify-content:center;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.list-item.team-list{
    background-color: var(--white-color);
    margin-right: 30px;
    width: 270px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding-bottom: 30px;  
}

.images-list{
    display: flex;
    width: 1200px;
    justify-content: center;
}

.images-list>.list-item{
    margin-right: 30px;
}

.cards.container.section{
    width: 1170px;
    align-content: center;
}

.filter-cards-list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
    padding: 0;
    margin-bottom: 30px;
}

.filter-cards-list>.list-item{
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 90px) / 3);
    border-bottom: 1px solid var(--card-border-color);
}

.filter-cards-list>.list-item:first-child{
    margin-left: 0;
}

.last.filter-cards-list{
    margin-bottom: 0;
}

.card-photo{
    display: block;
    margin-bottom: 20px;
}